.custom-textarea {
  width: 100%;
  flex-shrink: 0;
}

.custom-textarea__field {
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cacaca;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
}

.custom-textarea__field::placeholder {
  color: #9b9b9b;
}

.custom-textarea__field:focus {
  border-bottom: 1px solid #1919ef;
}
